/** BASIC */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000
}

h1 {
    color: #1b3d93
}

h2 {
    color: #1b3d93
}
h3 {
    color: #1b3d93
}
h4 {
    color: #1b3d93
}

strong {
	color: #1b3d93 !important;
}

th {


color: #1b3d93
}



hr {
2
    border: none;
3
    /* top    */ border-top: 1px solid #ccc;
4
    /* middle */ background-color: #ddd; color: #ddd;
5
    /* bottom */ border-bottom: 1px solid #eee;
6
    height: 1px;
7
    *height: 3px; /* IE6+7 need the total height */
8
}

